<%= form_with(model: [domain, expectation] ) do |form| %>
  <%= render 'layouts/errors', model: expectation %>

  <div>
    <%= form.label :path, style: "display: block" %>
    <%= form.text_field :path %>
  </div>

  <div>
    <%= form.label :url_param, style: "display: block" %>
    <%= form.text_field :url_param %>
  </div>

  <div>
    <%= form.label :method, style: "display: block" %>
    <%= form.select :method, Expectation::VALID_METHODS %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
