<%= form_with(model: [expectation, response]) do |form| %>
  <%= render 'layouts/errors', model: response %>
  <div>
    <%= form.label :format, style: "display: block" %>
    <%= form.text_field :format %>
  </div>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.number_field :code %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_field :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
