<div id="<%= dom_id response %>">
  <p>
    <strong>Body:</strong>
    <%= response.body %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= response.type %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= response.code %>
  </p>

  <p>
    <strong>Expectation:</strong>
    <%= response.expectation_id %>
  </p>

</div>
