<p style="color: green"><%= notice %></p>

<h1>Responses</h1>

<div id="responses">
  <% @responses.each do |response| %>
    <%= render response %>
    <p>
      <%= link_to "Show this response", response %>
    </p>
  <% end %>
</div>

<div>
  <%= link_to "New response", new_expectation_response_path %>
  <br />
  <%= link_to "Back to expectation", @expectation %>
</div>
